@media screen and (min-width:0) and (max-width:600px) {
    .signin-form .signin-image{
     display: none;
     width:0;
    }
    
}
body{
  
  background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(37,3,44,1) 100%);
color: white;
}
.signin-form{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    max-width: 600px;
    display: flex;
    padding: 3rem;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(30px);
}

.signin-form .signin-image{
    width: 70%;
    margin-right: 5rem;
    
}

.signin-form .signin-image .signin-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.signin-form div{
    width: 100%;
    margin-bottom: .2rem;
}

.signin-form div .signin-err{
   margin-bottom: .7rem;
   margin-top: 0;
    font-size: 13px;
    color: white;
    font-family: 'Courier New', Courier, monospace
}

.signin-form .signin-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1rem 0;
}
.signin-form .signin-btn-container .signin-btn{
    background-color: blue;
    color: white;
    border: none;
    padding: .8rem 0;
    width:100px;
    margin: .5rem;
    
    border-radius: 4px;
}
.signin-form .signin-btn-container .signin-google{
   background:orangered;
   color:white;
   padding:1rem;
   border-radius:50%;
}
.signin-form .signin-acct{
    margin: 0;
    text-align: center;
    color: white;
}

.signin-form .signin-acct .signin-link{
    color: blue;
    text-decoration: none;
    background:transparent;
    border:none;
    outline:none;
    color:black;
}

