
@media screen and (min-width:0) and (max-width:700px) {
  .homechat-header{
    display:flex;
    justify-content: space-between;
    padding:1.5rem 1rem;
    background:black;
    position:fixed;
    top:0;
    right:0;
    left:0;
    
    
    
    .homeheader-name{
      font-size:13px;
    }
    
    .homeheader-bio{
      font-size:11px;
      display:flex;
      .homeheader-bio-divider{
        display: flex;
        flex-direction: column;
        margin-left:.9rem;
        .homeheader-stat{
          margin-top:.5rem;
        }
      }
    }
    
    .homeheader-icons{
      display:flex;
      align-items: center;
      .hh-cam-box{
display:flex;
overflow:hidden;
width:30px;
position:relative;
.hh-inp{
  opacity:0;
  position:absolute;
}

      }
      .homeh-icon-search, .homeh-icon-ellips, .homeh-icon-camera{
        margin-right:1rem;
      }
    }
  }
  
}

@media screen and (min-width:700px) {
  .homechat-header{
    display:flex;
    justify-content: space-between;
    padding:1.5rem 1rem;
    background:black;
    width: 30%;
    position:fixed;
    top:0;
    right:0;
    left:0;
    
    
    .homeheader-bio{
      font-size:17px;
      display: flex;
      align-items: center;
       .homeheader-bio-divider{
        display: flex;
        flex-direction: column;
        margin-left:.9rem;
        .homeheader-stat{

        }
       }
    }
    
    .homeheader-icons{
      display:flex;
      align-items: center;
      .hh-cam-box{
display:flex;
overflow:hidden;
width:30px;
position:relative;
.hh-inp{
  opacity:0;
  position:absolute;
}
      }
      .homeh-icon-search, .homeh-icon-ellips, .homeh-icon-camera{
        margin-right:1rem;
      }
    }
  }
  
}