
@media screen and (min-width:0) and (max-width:700px) {
  .homechat-header{
    display:flex;
    justify-content: space-between;
    padding:1.5rem 1rem;
    background:black;
    position:fixed;
    top:0;
    right:0;
    left:0;
    
    .homeheader-bio{
      font-size:14px;
      display:flex;
      .homeheader-bio-divider{
        display: flex;
        flex-direction: column;
        margin-left:.9rem;
        .homeheader-stat{
          margin-top:.5rem;
        }
      }
    }
    
    .homeheader-icons{
      
      .homeh-icon-search, .homeh-icon-ellips, .homeh-icon-camera{
        margin-right:1rem;
      }
    }
  }
  
}

@media screen and (min-width:700px) {
  .homechat-header{
    display:flex;
    justify-content: space-between;
    padding:1.5rem 1rem;
    background:black;
    width: 100%;
    
    
    
    .homeheader-bio{
      font-size:14px;
       .homeheader-bio-divider{
        display: flex;
        flex-direction: column;
        margin-left:.9rem;
        .homeheader-stat{
          margin-top:.5rem;
        }
       }
    }
    
    .homeheader-icons{
      
      .homeh-icon-search, .homeh-icon-ellips, .homeh-icon-camera{
        margin-right:1rem;
      }
    }
  }
  
}