.homechat-header{
  display:flex;
  justify-content: space-between;
  padding:1.5rem 1rem;
  background:black;
  position:fixed;
  top:0;
  right:0;
  left:0;
  
  .homeheader-bio{
    font-size:14px;
  }
  
  .homeheader-icons{
    
    .homeh-icon-search, .homeh-icon-ellips, .homeh-icon-camera{
      margin-right:1rem;
    }
  }
}