
@media screen and (min-width:0) and (max-width:700px) {
  .homechat-main-body{
    background: rgb(27,2,43);
   background: radial-gradient(circle, rgba(27,2,43,1) 0%, rgba(0,0,0,1) 100%);
     position:absolute;
     top:0;
     bottom:0;
     left:0;
     right:0;
   .homechat-second{
     display:none;
   }
   
   .homechat-first{
     
           .homechat-chat-icon{
          position: absolute;
          right: 30px;
          bottom: 30px;
        .homechat-chat-icons{
          font-size: 30px;
          padding: 1rem;
          background-color: green;
          border-radius: 50%;
        }
      }
   }
   

}
}

@media screen and (min-width:700px) {
  .homechat-main-body{
    width: 100%;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
  

    .homechat-divider{
      display: flex;

      .homechat-first{
        width: 30%;

        position: relative;
        .homechat-chat-icon{
          position: absolute;
          left: 10px;
          bottom: 10px;
        .homechat-chat-icons{
          font-size: 30px;
          padding: 1rem;
          background-color: green;
          border-radius: 50%;
        }
      }
      }
      .homechat-second{
        display:block;
        width: 70%;
        background-color: black;
        position: relative;

      }
    }
   }

  
}