
@media screen and (min-width:0) and (max-width:700px){
  .message-container{
    display:flex;
    padding:1.5rem .3rem ;
     width:90%;
      margin:1rem auto;
      border-radius:10px;
      align-items: center;
      margin-bottom:.5rem;
      position:relative;
      
      border-bottom:.5px solid #bababa5f;
    .message-image{
      width:50px;
      height:50px;
      margin-right:1.5rem;
     position:relative;
      .message-img{
        width:100%;
        height:100%;
        border-radius:100%;
        object-fit: cover;
        
      }
      .messageBox-unread{
     margin-top:.4rem;
     background:red;
     border-radius:50%;
     width:15px;
     height:15px;
     display:flex;
     position:absolute;
     justify-content: center;
     align-items: center;
     color:black;
     font-weight:700;
     font-size:12px;
     top:-.4rem;
     right:-.3rem;
   }
    }
    
    .message-name-msg{
      font-size:13px;
      
      
      .message-name{
        margin-bottom:.5rem;
      }
      .message-text{
        width:180px;
        overflow:hidden;
        position:relative;
        white-space: nowrap;
        height:26px;
        font-size:12px;
        


      }
      
    }
    
    .messageBox-third{
      position:absolute;
      right:1rem;
      font-size:11px;
      top:1.8rem;
      text-align:right;
      display:flex;
      flex-direction: column;
      
      align-items: flex-end;
    .messageBox-time{
      margin-bottom:.7rem;
    }
   
   .messageBox-online{
     color:lawngreen;
   }
   
    }
  }
}

@media screen and (min-width:700px) {
  .message-container{
    display:flex;
    padding:1.5rem 1rem ; 
      backdrop-filter: blur(30px);
      width:85%;
      margin:1rem auto;
      border-radius:10px;
      align-items: center;
      margin-bottom:.5rem;
            
      border-bottom:.5px solid #bababa5f;
      
    .message-image{
      width:50px;
      height:50px;
      margin-right:1.5rem;
      
      .message-img{
        width:100%;
        height:100%;
        border-radius:100%;
        object-fit: cover;
      }
    }
    
    .message-name-msg{
      font-size:13px;
      text-transform:capitalize;
      
      .message-name{
        margin-bottom:.5rem;
        font-size: 15px;
      }
      .message-text{
        width:180px;
        overflow:hidden;
        position:relative;
        height:15px;
        font-size:13px;
        word-break:break-word;
        
        &::before{
          content:"...";
          position:absolute;
      z-index:4;
      right:0;
          color:white;
          margin-left:.4rem;
          
        }
      }
      
    }
    
    .messageBox-third{
      position:absolute;
      right:1rem;
      font-size:11px;
      top:1rem;
      text-align:right;
      display:flex;
      flex-direction: column;
      align-items: flex-end;
    .messageBox-time{
      margin-bottom:.7rem;
    }
   
   .messageBox-online{
     color:lawngreen;
   }
   .messageBox-unread{
     margin-top:.4rem;
     background:black;
     border-radius:50%;
     width:20px;
     height:20px;
     display:flex;
     justify-content: center;
     align-items: center;
     color:lawngreen;
   }
    }
  }
}