.chatbody-container{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
 background: rgb(27,2,43);
background: radial-gradient(circle, rgba(27,2,43,1) 0%, rgba(0,0,0,1) 50%);


.chatbody-header{
  display:flex;
  align-items: center;
  background:black;
  position:fixed;
  top:0;
  left:0;
  right:0;
  padding:.5rem;
 
  
  .chatbody-profile-pic{
    display:flex; 
    align-items: center;
    
    &:hover{
      background-color: rgba(255, 255, 255, .05);  
    backdrop-filter: blur(30px);
    border-radius:10px;
    margin-right:.5rem;
    }
    .chatbody-arrow{
      margin-right:1rem;
    }
    .chatbody-image{
      width:50px;
      height:50px;
      border-radius:50%;
      margin-right:1rem;
      .chatbody-img{
        width:100%;
        height:100%;
        border-radius:100%;
      }
    }
  }
  
  .chatbody-descript{
    font-size:13px;
  }
  
  .chatbody-icons{
    position:absolute;
    right:1rem;
    
    .chatbody-call, .chatbody-video, .chatbody-more{
      margin-right:1rem;
    }
  }
}
}